rules_version = '2';
service cloud.firestore {
  match /databases/{database}/documents {
    match /users/{document} {
      allow create: if request.auth.uid == document;
      allow read: if request.auth.uid == document;
      allow write: if request.auth.uid == document;
      allow delete: if false;
    }

    match /expenses/{document} {
      allow create: if request.resource.data.userExpenses == /databases/$(database)/documents/users/$(request.auth.uid);
      allow read: if resource.data.userExpenses == /databases/$(database)/documents/users/$(request.auth.uid);
      allow write: if resource.data.userExpenses == /databases/$(database)/documents/users/$(request.auth.uid);
      allow delete: if false;
    }

    match /expenseDateList/{document} {
      allow create: if true;
      allow read: if true;
      allow write: if false;
      allow delete: if false;
    }

    match /subscriptions/{document} {
      allow create: if request.resource.data.user == /databases/$(database)/documents/users/$(request.auth.uid);
      allow read: if resource.data.user == /databases/$(database)/documents/users/$(request.auth.uid);
      allow write: if resource.data.user == /databases/$(database)/documents/users/$(request.auth.uid);
      allow delete: if resource.data.user == /databases/$(database)/documents/users/$(request.auth.uid);
    }

    match /monthly_incomes/{document} {
      allow create: if request.resource.data.user == /databases/$(database)/documents/users/$(request.auth.uid);
      allow read: if resource.data.user == /databases/$(database)/documents/users/$(request.auth.uid);
      allow write: if resource.data.user == /databases/$(database)/documents/users/$(request.auth.uid);
      allow delete: if resource.data.user == /databases/$(database)/documents/users/$(request.auth.uid);
    }

    match /user_monthly_income_list/{document} {
      allow create: if request.resource.data.user == /databases/$(database)/documents/users/$(request.auth.uid);
      allow read: if resource.data.user == /databases/$(database)/documents/users/$(request.auth.uid);
      allow write: if resource.data.user == /databases/$(database)/documents/users/$(request.auth.uid);
      allow delete: if resource.data.user == /databases/$(database)/documents/users/$(request.auth.uid);
    }

    match /payment_types/{document} {
      allow create: if false;
      allow read: if true;
      allow write: if false;
      allow delete: if false;
    }

    match /transations/{document} {
      allow create: if request.resource.data.user == /databases/$(database)/documents/users/$(request.auth.uid);
      allow read: if resource.data.user == /databases/$(database)/documents/users/$(request.auth.uid);
      allow write: if resource.data.user == /databases/$(database)/documents/users/$(request.auth.uid);
      allow delete: if resource.data.user == /databases/$(database)/documents/users/$(request.auth.uid);
    }
  }
}
